body {
    background-color: #FFFFFF; font-family: Arial;
  }
  .topmenu {
    overflow: hidden;
    background-color: #284B63;
    padding: 10px;
    margin: -10px;
  }
  
  .topmenu a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .signUp a {
    color:#284B63;
  }

  .logIn a {
    color:#284B63;
  }
  
  .currency {
    float: right;
    overflow: hidden;
  }

  .signUp {
    position: relative;
    top: 5px;
    height: 35px;
    float: right;
    overflow: hidden;
    background-color: #d9d9d9;
    border-radius: 10px;
    margin-left: 28px;
    margin-right: 45px;
  }

  .signUp a {
    position: relative;
    bottom: 5px;
    color: #284b63;
  }

  .logIn {
    position: relative;
    top: 5px;
    height: 35px;
    float: right;
    overflow: hidden;
    background-color: #d9d9d9;
    border-radius: 10px;
    color: #284b63;
    margin-left: 28px;
  }

  .logIn a {
    position: relative;
    bottom: 5px;
    color: #284b63;
  }

  .language {
    float: right;
    overflow: hidden;
  }
  
  .currency .crcbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: Arial;
    margin: 0;
  }

  .language .lngbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: Arial;
    margin: 0;
  }
  
    .currency:hover .language:hover .crcbtn .lngbtn{ 
    background-color: none;
  }
  
  .currencies {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 105px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .languages {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 105px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .currencies a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .languages a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .currencies a:hover {
    background-color: #ddd;
  }

  .languages a:hover {
    background-color: #ddd;
  }
  
  .currency:hover .currencies {
    display: block;
  }

  .language:hover .languages {
    display: block;
  }


   .homeBtn a {
    text-decoration: none;
    position: relative;
    top: 50px;
    left: 235px;
    color: black;
   }
   .homeBtn:hover a {
    text-decoration: none;
    position: relative;
    top: 50px;
    left: 235px;
    color: #284b63;
   }

   .prodList {
     display: flex;
     flex-direction: column;
     row-gap: 20px;
     position: relative;
     top: 140px;
     left: 235px;
   }
   .prodImg {
    display: flex;
    justify-content: flex-start;
   }

   .subImg {
    display: flex;
    flex-direction: column;
    
   }

   .prodList a{
    text-decoration: none;
    color: black;
    position: relative;
    top: 150px;
    left: 235px;
    height: 10px;
    background-color: #d9d9d9;
  }

   .footer {
    position: relative;
    overflow: hidden;
    background-color: #353535;
    padding: 10px;
    margin: -10px;
    top: 400px;
    height: 230px;
  }
  
  .footer a {
    float: left;
    font-size: 20px;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    text-indent: 30px;
  }

  .aboutMe a {
    position: relative;
    font-size: 15px;
    color: white;
    top: 50px;
    right: 280px;
    padding: 14px 16px;
    text-decoration: none;
  }

  .faw a {
    position: relative;
    font-size: 15px;
    color: white;
    top: 100px;
    right: 410px;
    padding: 14px 16px;
    text-decoration: none;
  }

  .lglInfo a {
    position: relative;
    font-size: 15px;
    color: white;
    top: 150px;
    right: 500px;
    padding: 14px 16px;
    text-decoration: none;
  }

  .socMedBtn {
    position: relative;
    left: 450px;
  }